@import './../styles/variables.scss';
@import './../styles/index.scss';
@import './../styles/mixins.scss';

.hero {
  color: black;
  padding: 30px 0;
  align-items: center;

  @include respond(desktop) {
    display: flex;
  }

  &__description {
    text-align: center;
    margin: 0 auto 20px auto;

    h1 {
      font-size: 20px;
    }

    p {
      font-weight: $semi-bold;

      span {
        color: $primary;
        font-weight: $bold;
        text-transform: uppercase;
      }
    }

    @include respond(tablet) {
      h1 {
        font-size: 32px;
      }

      p {
        font-size: 22px;
      }
    }
  }

  &__picture {
    margin: auto;
    width: 150px;

    @include respond(desktop) {
      width: 300px;
    }
  }
}
